* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  height: 50px;
  width: 110px;
  margin-right: 5px;
}
.logo {
  height: 50px;
  width: 100%;
}
.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
.address-container {
  color: white;
}
.location-icon {
  display: flex;
  align-items: center;
}
.deliver-to {
  font-size: 0.75rem;
  margin-left: 20px;
}
.country {
  font-size: 0.9rem;
}
.search-container {
  display: flex;
  width: 600px;
  height: 35px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-container:active {
  border: 2px solid orange;
}
.search-icon {
  background-color: #febd68;
  color: #0f1111;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.first-sign {
  font-size: 0.75rem;
}
.second-sign {
  font-weight: 700;
  font-size: 0.95rem;
}
.cart-container i {
  font-size: 30px;
}
.cart-container {
  font-size: 0.85rem;
  font-weight: 700;
}
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}
.panel-ops span {
  display: inline;
  margin-left: 15px;
}
.panel-ops {
  width: 70%;
  font-size: 0.85rem;
}
.panel-deals {
  font-size: 0.9rem;
  font-weight: 700;
}
.hero-section {
  background-image: url("Images/hero.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-message {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 30px;
}
.click-here {
  color: #007185;
}
.items-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}
.box {
  background-color: white;

  height: 350px;
  width: 22.5%;
  padding: 20px 0px 15px;
  margin: 14px;
}
.item-img {
  width: 250px;
  height: 280px;
  margin: 10px 17px;
}
h2 {
  margin: 0px 1px 1px 20px;
}
footer {
  margin-top: 15px;
  background-color: #374758;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.foot-panel1 {
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel2 {
  color: white;
  height: 300px;
  font-size: 0.85rem;
}
.foot-panel2 a {
  display: block;
  text-decoration: none;
  color: #dddddd;
  margin: 20px;
}
.foot-panel3 {
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 90px;
  height: 40px;
}
.foot-panel4 {
  display: block;
  background-color: #131a22;
  color: white;
  height: 80px;
  text-align: center;
  padding-top: 35px;
}
.pages a {
  margin: 10px;
  color: white;
  text-decoration: none;
}