body{
  text-align: center;
}
.button {
  border: 0px;
  background-color: white;
  height: 100px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
  border-radius: 50px;
}
.choice_button {
  height: 75px;
}
.button:hover {
  background-color: grey;
}