* {
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all 0.2s ease;
}
body {
  background: #0d1b2a;
  color: #fff;
}
h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  line-height: 4.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.choices {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.choice {
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  background: #112240;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  border: 5px solid transparent;
  border-radius: 50%;
  transition: transform 0.2s, border 0.2s;
  cursor: pointer;
}
.choice:hover {
  transform: scale(1.1);
  border: 4px solid #ffd700;
}
img {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user-score,
#bot-score {
  font-size: 4rem;
  color: #ffd700;
}
.msg-container {
  margin-top: 4rem;
}
#msg {
  display: inline-block;
  background-color: #081b31;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: background-color 0.3s, transform 0.3s;
}
#msg.lose {
background-color: #dc3545; /* red */
  transform: scale(1.05);
}
#msg.won {

background-color: #28a745; /* green */
  transform: scale(1.05);
}
