* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1d2671, #c33764);
  text-align: center;
}
.title {
  font-size: 4rem;
  margin: 0.75rem;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vh;
  width: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.box {
  height: 18vh;
  width: 18vh;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 10vh;
  color: #b0413e;
  background-color: #f2f2f2;
  transition: all 0.2s ease;
}
.reset-button {
  padding: 0.85rem;
  font-size: 1.15rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}
.new-game {
  padding: 0.85rem;
  font-size: 1.15rem;
  background-color: #191913;
  color: white;
  border: none;
  border-radius: 1rem;
}
.msg {
  color: #ffffc7;
  font-size: 5vh;
}
.msg-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  animation: fadeIn 1s ease;
}
.hide {
  display: none;
}
.O {
  color: green;
}
.X {
  color: red;
}
button:hover {
  background: #554ee0;
  transform: translateY(-2px);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
