body {
  font-family: 'Times New Roman', Times, serif
}
#main_heading {
  text-align: center;
}
.add_container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 20px;
}
.todo_container {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
  align-items: center;
}
#input_box,
#date_box {
  font-size: 15px;
  padding: 10px 5px;
  height: 20px;
}
.add_button {
  background-color: green;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}
.delete_button {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}
