body {
  background-color: #212121;
  color: #fff;
  text-align: center;
}
h2 {
  margin-top: 3rem;
}
.para {
  margin: 3rem;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
form label {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#input-field {
  width: 200px;
  height: 20px;
  margin-bottom: 1.5rem;
}
#submit-field {
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.new-game {
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.hide {
  display: none;
}
