* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
}
h1 {
  margin: 3rem;
}
span {
  font-weight: 600;
}
input {
  height: 1.5rem;
  margin: 1.2rem;
  font-size: 1rem;
}
button {
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 2rem;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
  background-color: green;
  border: 2px solid black;
  color: white;
}
.output-container {
  margin-top: 5rem;
  font-size: 1rem;
  font-weight: 700;
}
.weight-guide {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}
