body{
  background-color: black;
}
.btn {
  height: 35px;
  width: 110px;
  border: none;
  border-radius: 20px;
  color: black;
  background-color: white;
  cursor: pointer;
}
.js_after_change_btn {
  width: 130px;
  color: white;
  background-color: red;
}