.Calculator {
  border: 1px solid rgb(187, 183, 183);
  border-radius: 5px;
  width: 200px;
}
#display {
  margin: 10px;
  width: 85%;
  font-size: 20px;
  text-align: right;
}
.button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
}
.button {
  padding: 2px;
  margin: 3px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color:pink;
}
.button:hover {
  background-color: purple;
}
.button:active {
  background-color: purple;
}